/* Menu */
.logo-servise__nav{
    width: 200px;
}

.nav-link--login {
    border-radius: 200px;
    border-color: white;
}

.color-primary--purple{
    color: #da12da;
}


/* DropZone */
.dropzone { 
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; 
    min-width: 20vw;
    font-weight: 200;
    height: 200px;
    border: 2px dashed #006D9B;
    border-radius: 5px;
    background: white;
    margin: 10px 0;
  
    
  }

  .hovering {
    border: 2px solid #006D9B;
    color: #dadada !important;
}

.file-label {
    font-size: 1.2em;
}

.p-image {
    font-weight: 200;
}
  
  progress::-webkit-progress-value {
    transition: width 0.1s ease;
  }
