/* Menu */
.logo-servise__nav{
    width: 200px;
}

.nav-link--login {
    border-radius: 200px;
    border-color: white;
}

.color-primary--purple{
    color: #da12da;
}

.h-size {
    height: 100vh;
}

.cl-primary--color {
    color: #006D9B;
}

.product-card__link {
    text-decoration: none;
    color: #006D9B;
} 

.product-img {
    height: 500px;
    width: 100%;
    object-fit: cover;
    object-position: center;
} 

.product-img__size {
    height: 224px;
    object-fit: cover;
    object-position: center;
}

.btn-primary--color{
    /* background-color: #49A0D2; */
    background-color: #006D9B;
    color: white;
}

.btn-primary--color:hover {
    background-color: #5A8FCE;
    /* background-color: #006D9B; */
    /* background-color: #49A0D2; */
}